<!DOCTYPE html>
{% set race_order = ['american_indian_or_alaska_native', 'asian', 'hawaiian_or_pacific_islander', 'hispanic', 'black', 'white', 'two_or_more_races', 'total'] %}
{% set grade_order = ['PK', 'K3', 'K4', 'K5', 'KG', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13'] %}
{% set category_order = ['Teachers', 'Administrators', 'Aides / Paraprofessionals', 'Pupil Services', 'Other'] %}
{% set degree_map = dict([
    ('associate', "Associate Degree"),
    ('bachelors', "Bachelor's Degree"),
    ('masters', "Master's Degree"),
    ('six_year_specialists', "6-Year Specialist's Degree"),
    ('doctorate', "Doctorate"),
    ('other', "Other"),
]) %}
{% set degree_order = ('associate', 'bachelors', 'masters', 'six_year_specialists', 'doctorate', 'other') %}
{% set tenure_pairs = [
    ('1_2', "1-2 Years"),
    ('3_4', "3-4 Years"),
    ('5_plus', "5+ Years")
] %}
{% set tenure_order = ('1_2', '3_4', '5_plus') %}
{% set tenure_map = dict(tenure_pairs) %}
<html>
<style type="text/css">
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: top;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

ul.schools-tables {
    list-style: none;
}

.schools-tables li {
    margin-top: 10px;
}

.schools-tables li:first-child {
    margin-top:0;
}

</style>
    <head>
        <title>{{school['longname']}}</title>
    </head>
    <body>
        <h1>{{school['longname']}}</h1>
        <ul class="schools-tables">
            <li>
                <table>
                    <caption>Summary</caption>
                    <tr>
                        <th scope="row">Grades Included</th>
                        <td>{{school['low_grade']}}-{{school['high_grade']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Is Elementary School</th>
                        <td>{{school['is_elementary']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Is Middle School</th>
                        <td>{{school['is_middle']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Is High School</th>
                        <td>{{school['is_high']}}</td>
                    </tr>
                </table>
            </li>

        {% if pss_info is defined and pss_info %}
        <li>
            <table>
                <caption>Private School Data</caption>
                <tr>
                    <th scope="row">Kindergarten Hours</td>
                    <td>{{pss_info.kg_hours}}</td>
                </tr>
                <tr>
                    <th scope="row">Kindergarten Days Per Week</td>
                    <td>{{pss_info.kg_days_per_week}}</td>
                </tr>
                <tr>
                    <th scope="row">Is Religious</td>
                    <td>{% if pss_info.is_religious %}Yes{% else %}No{% endif %}</td>
                </tr>
                {% if pss_info.is_religious %}
                <tr>
                    <th scope="row">Orientation</th>
                    <td>{{pss_info.label}}</td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row">Days in School Year</th>
                    <td>{{pss_info.days_in_year}}</td>
                </tr>
                <tr>
                    <th scope="row">Time in School Day</th>
                    <td>{{"%02d"|format(pss_info.hours_in_day)}}:{{"%02d"|format(pss_info.minutes_in_day)}}</td>
                </tr>
                <tr>
                    <th scope="row">Num Students</th>
                    <td>{{pss_info.enrollment}}</td>
                </tr>
                <tr>
                    <th scope="row">Num Full-Time Teachers</th>
                    <td>{{pss_info.num_fte_teachers}}</td>
                </tr>
                <tr>
                    <th scope="row">Student-Teacher Ratio</th>
                    <td>{{"%.02f"|format(pss_info.enrollment/pss_info.num_fte_teachers)}}</td>
                </tr>
            </table>
        </li>
        {% else %}
        <li>Private School Data not available</li>
        {% endif %}

        {% if pss_enrollment_by_grade is defined and pss_enrollment_by_grade %}
        <li>
            <table>
                <caption>Private School Enrollment by Grade</caption>
                <tr>
                    <th scope="row">Grade</th>
                    {% for grade in grade_order if grade in pss_enrollment_by_grade %}
                    <th scope="col">{{grade}}</th>
                    {% endfor %}
                    {% if pss_info is defined and pss_info %}
                    <th scope="col">Total</th>
                    {% endif %}
                </tr>
                    <th scope="row">Enrollment</th>
                    {% for grade in grade_order if grade in pss_enrollment_by_grade %}
                    <td>{{pss_enrollment_by_grade[grade]}}</td>
                    {% endfor %}
                    {% if pss_info is defined and pss_info %}
                    <td>{{pss_info.enrollment}}</td>
                    {% endif %}
                </tr>
            </table>
        </li>
        {% else %}
        <li>Private School Enrollment by Grade not available</li>
        {% endif %}

        {% if pss_enrollment_by_demographic is defined and pss_enrollment_by_demographic %}
        <li>
            <table>
                <caption>Private School Enrollment by Race (KG and Up)</caption>
                <tr>
                    <th scope="row">Race</th>
                    <th scope="col">American Indian or Alaska Native</th>
                    <th scope="col">Asian</th>
                    <th scope="col">Hawaiian or Pacific Islander</th>
                    <th scope="col">Hispanic</th>
                    <th scope="col">Black</th>
                    <th scope="col">White</th>
                    <th scope="col">Two or More Races</th>
                    <th scope="col">Total</th>
                </tr>
                    <th scope="row">Enrollment</th>
                    {% for race in race_order %}
                    <td>{{pss_enrollment_by_demographic[race]}}</td>
                    {% endfor %}
                </tr>
            </table>
        </li>
        {% else %}
        <li>Private School Enrollment by Race not available</li>
        {% endif %}

        {% if pss_enrollment_by_demographic is defined and pss_enrollment_by_demographic %}
        <li>
            <table>
                <caption>Private School Enrollment by Sex (KG and Up)</caption>
                <tr>
                    <th scope="row">Sex</th>
                    <th scope="col">Male</th>
                    <th scope="col">Female</th>
                    <th scope="col">Total</th>
                </tr>
                    <th scope="row">Enrollment</th>
                    <td>{{pss_enrollment_by_demographic.male}}</td>
                    <td>{{pss_enrollment_by_demographic.female}}</td>
                    <td>{{pss_enrollment_by_demographic.total}}</td>
                </tr>
            </table>
        </li>
        {% else %}
        <li>Private School Enrollment by Race not available</li>
        {% endif %}

        {% if enrollment_by_grade_by_sex is defined and enrollment_by_grade_by_sex %}
        <li>
            <table>
                <caption>Students per Grade by Gender (2017-2018)</caption>
                <tr>
                    <th scope="col">Grade</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Count</th>
                </tr>

                {% for grade in grade_order if grade in enrollment_by_grade_by_sex %}
                <tr>
                    <td rowspan="2">{{grade}}</td>
                    <td>F</td>
                    <td>{{enrollment_by_grade_by_sex[grade]['F']}}</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>{{enrollment_by_grade_by_sex[grade]['M']}}</td>
                </tr>
                {% endfor %}
            </table>
        </li>
        {% else %}
        <li>Enrollment by grade by sex not available</li>
        {% endif %}

        {% if enrollment_by_grade_by_race is defined and enrollment_by_grade_by_race %}
        <li>
            <table>
                <caption>Students per Grade by Race (2017-2018)</caption>
                <tr>
                    <th scope="col">Grade</th>
                    <th scope="col">American Indian or Alaska Native</th>
                    <th scope="col">Asian</th>
                    <th scope="col">Hawaiian or Pacific Islander</th>
                    <th scope="col">Hispanic</th>
                    <th scope="col">Black</th>
                    <th scope="col">White</th>
                    <th scope="col">Two or More Races</th>
                    <th scope="col">Total</th>
                </tr>

                {% for grade in grade_order if grade in enrollment_by_grade_by_race %}
                <tr>
                    <th scope="row">{{grade}}</th>
                    {% for race in race_order %}
                    {% set count, percent = enrollment_by_grade_by_race[grade][race] %}
                    {% if race != 'total' %}
                    <td>{{count}} ({{'%.1f'|format(percent)}}%)</td>
                    {% else %}
                    <td>{{count}}</td>
                    {% endif %}

                    {% endfor %}
                </tr>
                {% endfor %}

            </table>
        </li>
        {% else %}
        <li>Enrollment by grade by race not available</li>
        {% endif %}

        {% if staff_by_category_by_sex is defined and staff_by_category_by_sex %}
        <li>
            <table>
                <caption>Staff per Category by Gender (2018-2019)</caption>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Count</th>
                </tr>

                {% for category in category_order if category in staff_by_category_by_sex %}
                <tr>
                    <td rowspan="2">{{category}}</td>
                    <td>F</td>
                    <td>{{staff_by_category_by_sex[category]['F']}}</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>{{staff_by_category_by_sex[category]['M']}}</td>
                </tr>
                {% endfor %}
            </table>
        </li>
        {% else %}
        <li>Staff by category by sex not available</li>
        {% endif %}

        {% if staff_by_category_by_education is defined and staff_by_category_by_education %}
        <li>
            <table>
                <caption>Staff per Category by Education Level (2018-2019)</caption>
                <tr>
                    <th scope="col">Category</th>
                    {% for degree in degree_order %}
                    <th scope="col">{{degree_map[degree]}}</th>
                    {% endfor %}
                </tr>

                {% for category in category_order if category in staff_by_category_by_education %}
                <tr>
                    <td>{{category}}</td>
                    {% for degree in degree_order %}
                    <td>{{staff_by_category_by_education[category].get(degree, 0.0)}}</td>
                    {% endfor %}
                </tr>

                {% endfor %}
            </table>
        </li>
        {% else %}
        <li>Staff by category by education not available</li>
        {% endif %}

        {% if staff_by_category_by_tenure is defined and staff_by_category_by_tenure %}
        <li>
            <table>
                <caption>Staff per Category by Tenure at School (Until 2018-2019)</caption>
                <tr>
                    <th scope="col">Category</th>
                    {% for tenure in tenure_order %}
                    <th scope="col">{{tenure_map[tenure]}}</th>
                    {% endfor %}
                </tr>

                {% for category in category_order if category in staff_by_category_by_tenure %}
                <tr>
                    <td>{{category}}</td>
                    {% for tenure in tenure_order %}
                    <td>{{staff_by_category_by_tenure[category][tenure]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </li>
        {% else %}
        <li>Staff by category by tenure not available</li>
        {% endif %}

        {% if discipline_by_type_by_sex is defined and discipline_by_type_by_sex %}
        <li>
            <table>
                <caption>Discipline Actions by Sex (2015-2016)</caption>
                <tr>
                    <th scope="col">Sex</th>
                    <th scope="col">In-School Suspension</th>
                    <th scope="col">Out-of-School Suspension</th>
                    <th scope="col">Referral to Law Enforcement</th>
                </tr>

                <tr>
                    <th scope="row">Female</th>
                    <td>{{discipline_by_type_by_sex['iss']['F']}}</td>
                    <td>{{discipline_by_type_by_sex['oss']['F']}}</td>
                    <td>{{discipline_by_type_by_sex['referral']['F']}}</td>
                </tr>
                <tr>
                    <th scope="row">Male</th>
                    <td>{{discipline_by_type_by_sex['iss']['M']}}</td>
                    <td>{{discipline_by_type_by_sex['oss']['M']}}</td>
                    <td>{{discipline_by_type_by_sex['referral']['M']}}</td>
                </tr>
            </table>
        </li>
        {% else %}
        <li>Discipline by type by sex not available</li>
        {% endif %}

        {% if discipline_by_type_by_race is defined and discipline_by_type_by_race %}
        <li>
            <table>
                <caption>Discipline Actions by Race (2015-2016)</caption>
                <tr>
                    <th scope="col">Type of Action</th>
                    <th scope="col">American Indian or Alaska Native</th>
                    <th scope="col">Asian</th>
                    <th scope="col">Hawaiian or Pacific Islander</th>
                    <th scope="col">Hispanic</th>
                    <th scope="col">Black</th>
                    <th scope="col">White</th>
                    <th scope="col">Two or More Races</th>
                    <th scope="col">Total</th>
                </tr>

                <tr>
                    <th scope="row">In-School Suspension</th>
                    {% for race in race_order %}
                    <td>{{discipline_by_type_by_race['iss'][race]}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">Out-of-School Suspension</th>
                    {% for race in race_order %}
                    <td>{{discipline_by_type_by_race['oss'][race]}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">Referral to Law Enforcement</th>
                    {% for race in race_order %}
                    <td>{{discipline_by_type_by_race['referral'][race]}}</td>
                    {% endfor %}
                </tr>
            </table>
        </li>
        {% else %}
        <li>Discipline by type by race not available</li>
        {% endif %}

        </ul>

    </body>
</html>


